body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
}

.galeria {
  display: flex;
  justify-content: center;
  gap: 15px;
  padding: 20px;
}

.galeria img {
  width: 250px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.2);
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #333;
  color: white;
}